---
layout: default
title: Deadmoose
---

{% for page in paginator.posts %}
    {% assign content = page.content %}
    {% assign include_disqus_link = true %}
    {% include post_body.html %}
{% endfor %}

{% if paginator.next_page or paginator.previous_page %}
    <div id="pagination" class="box">
        {% if paginator.next_page %}
            <div class="next"><a href="{{ paginator.next_page_path }}">&larr;&nbsp;Older&nbsp;Posts</a></div>
        {% endif %}
        {% if paginator.previous_page %}
            <div class="prev"><a href="{{ paginator.previous_page_path }}">Newer&nbsp;Posts&nbsp;&rarr;</a></div>
        {% endif %}
    </div>
{% endif %}

{% include disqus_comment_count.html %}
